@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* img {
  max-width: 100%;
}

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Oswald", sans-serif;
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --accent-color: #000000;
  --text-color-primary: var(--primary-color);
  --text-color-secondary: #e6e6e6;
  --bg-decor: #b0b0b0;
  --bg-site: #f8f8f8;
  --bg-blur-glass-effect: rgba(29, 29, 31, 0.45);
  --list-items-color: #dddddd;
  --form-text-color: #fefefe;
  --error-color: #f20000;
  --percent-color: rgba(255, 23, 23, 0.7);
  --bg-get-btn: #5f5c5c;
  --get-btn-color: var(--secondary-color);
  --header-bg: var(--primary-color);
  --header-color: var(--secondary-color);
  --header-menu-link: var(--secondary-color)
  // --bg-navigation: #fff;
  --caption-color-light: var(--secondary-color);
  --caption-color-dark: var(--primary-color);
  --caption-font: var(--font-secondary);
  --caption-decor: var(--bg-decor);
  --cta-btn-bg-light: var(--bg-site);
  --cta-btn-bg-dark: var(--accent-color);
  --cta-btn-color-dark: var(--accent-color);
  --cta-btn-color-light: var(--secondary-color);
  --cta-btn-border-dark: 1px solid var(--accent-color);
  --cta-btn-border-light: 1px solid var(--secondary-color);
  --input-text-color: var(--secondary-color);
  --input-border-color: var(--secondary-color);
  --input-placeholder-color: var(--bg-decor);
  --input-bg: var(--accent-color);
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: clamp(1.688rem, 1.458rem + 1.15vw, 2.375rem);
  letter-spacing: 6.08px;
  font-family: var(--font-secondary);
  font-weight: 500;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: var(--accent-color);
}

.caption {
  display: flex;
  justify-content: center;
  padding-top: clamp(1.875rem, -0.196rem + 10.36vw, 7.313rem);
}
.caption .caption__title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 clamp(0.938rem, 0.342rem + 2.98vw, 2.5rem);
}
.caption .caption__title::before, .caption .caption__title::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1px;
  width: clamp(3.125rem, 0.744rem + 11.9vw, 9.375rem);
  background-color: var(--bg-decor);
}
.caption .caption__title::before {
  left: calc(-1 * clamp(3.125rem, 0.744rem + 11.9vw, 9.375rem));
}
.caption .caption__title::after {
  right: calc(-1 * clamp(3.125rem, 0.744rem + 11.9vw, 9.375rem));
}

.cta-button {
  display: inline-block;
  font-size: 18px;
}

.cta-button-dark {
  padding: 15px 36px;
  font-weight: 500;
  line-height: 1.06;
  background-color: var(--cta-btn-bg-dark);
  color: var(--cta-btn-color-light);
  transition: all 0.3s;
  border: var(--cta-btn-border-dark);
}
.cta-button-dark:hover {
  background-color: var(--cta-btn-bg-light);
  color: var(--cta-btn-color-dark);
  border: var(--cta-btn-border-light);
}

.cta-button-light {
  padding: 10px 36px;
  font-weight: 400;
  background-color: var(--cta-btn-bg-light);
  color: var(--cta-btn-color-dark);
  border: var(--cta-btn-border-dark);
  line-height: 2;
  letter-spacing: 0.81px;
  transition: all 0.3s;
}
.cta-button-light:hover {
  background-color: var(--cta-btn-bg-dark);
  color: var(--cta-btn-color-light);
  border: var(--cta-btn-border-light);
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-site);
}
body.lock {
  overflow: hidden;
}
body .header {
  background-color: var(--header-bg);
  padding: clamp(0.5rem, 0.313rem + 0.94vw, 1.063rem) 0;
  color: var(--header-color);
}
body .header .header__container {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -24.583rem + 41.67vw, 8.75rem);
}
body .header .header__container .header__logo {
  width: 4.6875%;
  min-width: 30px;
  aspect-ratio: 59/65;
}
body .header .header__container nav.nav {
  flex-grow: 1;
}
body .header .header__container nav.nav .wrap-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
body .header .header__container nav.nav .wrap-navigation .mobile__logo {
  display: none;
}
body .header .header__container nav.nav .wrap-navigation ul.header__menu {
  display: flex;
  gap: clamp(0.938rem, 0.295rem + 3.21vw, 2.625rem);
  text-transform: capitalize;
}
body .header .header__container nav.nav .wrap-navigation ul.header__menu .menu__item .menu__link {
  font-weight: 400;
  color: var(--header-menu-link);
}
body .header .header__container nav.nav .wrap-navigation .header__socials {
  display: flex;
  gap: 15px;
}
body .header .header__container nav.nav .wrap-navigation .header__socials .socials__item svg {
  fill: var(--header-color);
}
body .header .header__container nav.nav .wrap-navigation .header__language {
  font-weight: 500;
}
body .header .header__container nav.nav .wrap-navigation .header__language span:nth-child(2) {
  margin-right: 12px;
  margin-left: 12px;
}
body .header .header__container .menu__icon {
  display: none;
}
body main section.hero {
  position: relative;
  margin: 0 auto;
  overflow: clip;
}
body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper {
  display: inline-flex;
}
body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper .swiper-slide.hero__slide img {
  width: 100%;
  aspect-ratio: 1280/620;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.hero .hero__board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: var(--bg-blur-glass-effect);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59.375%;
  aspect-ratio: 760/410;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
body main section.hero .hero__board h1.board__title {
  font-size: clamp(1.563rem, -0.649rem + 4.72vw, 3.125rem);
  color: var(--secondary-color);
  font-weight: 600;
}
body main section.hero .hero__board h3.board__sub-title {
  font-size: clamp(0.875rem, 0.344rem + 1.13vw, 1.25rem);
  color: var(--secondary-color);
  font-weight: 600;
  letter-spacing: 4px;
}
body main section.hero .hero__board p {
  margin-top: clamp(0.938rem, 0.625rem + 1.56vw, 1.875rem);
  margin-bottom: clamp(1.25rem, 0.771rem + 2.4vw, 2.688rem);
  max-width: 360px;
  text-align: center;
  color: var(--text-color-secondary);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.188rem + 1.17vw, 1.125rem);
  letter-spacing: 1.35px;
  line-height: 1.06;
}
body main section.hero .hero__board .cta-button-dark {
  font-size: clamp(0.688rem, 0.542rem + 0.73vw, 1.125rem);
}
body main section.about-us {
  position: relative;
  padding-bottom: 110px;
}
body main section.about-us .about-us__container {
  min-height: 913px;
}
body main section.about-us .about-us__container .caption {
  margin-bottom: clamp(1.875rem, 1.042rem + 4.17vw, 4.375rem);
  color: var(--caption-color-dark);
}
body main section.about-us .about-us__container .about-us__wrap-content {
  display: flex;
}
body main section.about-us .about-us__container .about-us__wrap-content .about-us__info {
  width: 50%;
}
body main section.about-us .about-us__container .about-us__wrap-content .about-us__info p {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-primary);
  line-height: 2;
  margin-bottom: 66px;
}
body main section.about-us .about-us__container .about-us__wrap-content .about-us__workers {
  width: 50%;
  position: relative;
}
body main section.about-us .about-us__container .about-us__wrap-content .about-us__workers img {
  position: absolute;
  top: 27px;
  right: 10px;
  aspect-ratio: 700/655;
}
body main section.about-us .about-us__deco-square {
  width: clamp(3.75rem, -1.667rem + 27.08vw, 20rem);
  aspect-ratio: 320/244;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
body main section.about-us .about-us__deco-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: -1;
}
body main section.services {
  background-color: var(--primary-color);
}
body main section.services .services__container .services__content {
  position: relative;
}
body main section.services .services__container .services__content .caption {
  margin-bottom: clamp(1.875rem, 0.979rem + 4.48vw, 4.563rem);
}
body main section.services .services__container .services__content .caption .caption__title {
  color: var(--caption-color-light);
}
body main section.services .services__container .services__content .wrap__content-blocks {
  padding-bottom: clamp(1.875rem, 1.25rem + 3.13vw, 3.75rem);
  display: flex;
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__picture {
  flex: 0 1 642px;
  aspect-ratio: 642/427;
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list {
  max-width: 437px;
  font-weight: 400;
  font-size: 18px;
  color: var(--list-items-color);
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list li {
  list-style-type: disc;
  padding: 20px 0;
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list li::marker {
  font-size: 20px;
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list li:nth-child(even)::marker {
  color: var(--bg-decor);
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list li:nth-child(odd)::marker {
  color: var(--accent-color);
}
body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list li .item {
  margin-left: 18px;
}
body main section.services .services__container .services__content .decor-square {
  position: absolute;
  right: -11px;
  bottom: 81px;
  width: clamp(3.75rem, 2.75rem + 5vw, 6.75rem);
  aspect-ratio: 108/105;
  box-shadow: 0 0 15px 0 rgba(197, 197, 197, 0.25);
}
body main section.services-from {
  background-color: var(--accent-color);
}
body main section.services-from .services-form__container .services__form {
  padding: clamp(1.875rem, 1.146rem + 3.65vw, 4.063rem) 0 clamp(1.875rem, 1.042rem + 4.17vw, 4.375rem);
  color: var(--form-text-color);
}
body main section.services-from .services-form__container .services__form .form__title {
  margin-bottom: 40px;
}
body main section.services-from .services-form__container .services__form .form__title h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
body main section.services-from .services-form__container .services__form .form__title h4 span {
  color: var(--error-color);
}
body main section.services-from .services-form__container .services__form .form__wrapper form {
  display: flex;
  gap: clamp(0.875rem, -18.3rem + 26vw, 2.5rem);
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-inputs {
  display: flex;
  gap: clamp(0.875rem, -18.3rem + 26vw, 2.5rem);
  align-self: end;
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-inputs .wrap-input {
  border-bottom: 3px solid var(--input-border-color);
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-inputs .wrap-input input {
  border: none;
  height: 40px;
  width: 260px;
  background-color: var(--input-bg);
  padding-bottom: 10px;
  padding-left: 2px;
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns {
  display: flex;
  gap: clamp(0.875rem, -18.3rem + 26vw, 2.5rem);
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns button {
  font-size: 16px;
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns button:last-child {
  font-weight: 300;
  color: var(--get-btn-color);
  background-color: var(--bg-get-btn);
}
body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns button:last-child svg {
  fill: var(--get-btn-color);
}
body main section.advantages {
  position: relative;
  padding-bottom: clamp(1.875rem, 0.104rem + 8.85vw, 7.188rem);
}
body main section.advantages .advantages__decor-square {
  position: absolute;
  left: 0;
  top: 93px;
  width: clamp(3.75rem, 2.833rem + 4.58vw, 6.5rem);
  aspect-ratio: 104/43;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}
body main section.advantages .advantages__container .caption {
  margin-bottom: clamp(1.875rem, 1.25rem + 3.13vw, 3.75rem);
  color: var(--caption-color-dark);
}
body main section.advantages .advantages__container .advantages__content {
  display: flex;
  gap: 30px;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items {
  display: flex;
  gap: 20px;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items:nth-child(2) {
  gap: 70px;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item {
  position: relative;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item .numbers {
  position: absolute;
  top: 0;
  left: 5px;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item h5 {
  margin-bottom: 30px;
  padding-top: 20px;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  max-width: 270px;
}
body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item p.three {
  max-width: 233px;
}
body main section.reviews {
  background-color: var(--primary-color);
  padding-bottom: clamp(1.875rem, -0.083rem + 9.79vw, 7.75rem);
}
body main section.reviews .reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.reviews .reviews__container .caption {
  color: var(--caption-color-light);
  padding-bottom: clamp(1.875rem, 1.042rem + 4.17vw, 4.375rem);
}
body main section.reviews .reviews__container .reviews__wrap-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1.25rem, -9.808rem + 15.38vw, 2.5rem);
  margin-bottom: 44px;
}
body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card {
  width: 360px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 30px 10px 12px 30px;
  display: flex;
  flex-direction: column;
}
body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card .card__user-info {
  display: flex;
  align-items: center;
  gap: 18px;
}
body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card .card__user-info .username {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--accent-color);
}
body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card p.card__text {
  font-size: 16px;
  max-width: 321px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
  margin-top: 24px;
}
body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card p.card__text:first-child {
  max-width: 268px;
}
body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card .card__social {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
}
body main section.reviews .reviews__container .accordion-btn {
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
  padding: 0 20px;
  cursor: pointer;
}
body main section.reviews .reviews__container .accordion-btn:hover {
  text-decoration: underline;
}
body main section.reviews .reviews__container .accordion-btn svg {
  position: absolute;
  left: -76px;
  top: 50%;
  transform: translateY(-50%);
}
body main section.reviews .reviews__container .cta-button {
  margin-top: 40px;
  display: inline-flex;
}
body main section.clients {
  padding-top: clamp(1.875rem, 9.38vw, 7.5rem);
  padding-bottom: clamp(1.875rem, 9.38vw, 7.5rem);
  background-image: url("../../../img/clients/clients.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main section.clients .clients__container .wrap-client-images {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1.25rem, 0.833rem + 2.08vw, 2.5rem);
  justify-content: center;
}
body main section.clients .clients__container .wrap-client-images .wrap-clients-img {
  flex: 0 1 360px;
  aspect-ratio: 360/305;
}
body main section.clients .clients__container .wrap-client-images .wrap-clients-img img {
  max-width: none;
  width: 100%;
}
body main section.discount {
  position: relative;
}
body main section.discount img {
  width: 100%;
  height: 100%;
  height: 733px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.discount .discount__mask {
  position: absolute;
  inset: 0;
  background-color: rgba(3, 3, 3, 0.75);
}
body main section.discount .discount__container {
  position: absolute;
  inset: 0;
  padding-top: clamp(1.875rem, 9.38vw, 7.5rem);
  padding-bottom: clamp(1.875rem, 0.417rem + 7.29vw, 6.25rem);
}
body main section.discount .discount__container .discount__title {
  font-size: 105px;
  font-weight: 700;
  color: #d6d6d6;
  mix-blend-mode: color-dodge;
  margin-bottom: clamp(1.875rem, 0.417rem + 7.29vw, 6.25rem);
}
body main section.discount .discount__container .discount__content {
  display: flex;
  gap: clamp(1.875rem, -21.806rem + 38.19vw, 8.75rem);
  flex-wrap: wrap;
}
body main section.discount .discount__container .discount__content .discount_percent span {
  font-size: 100px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--percent-color);
}
body main section.discount .discount__container .discount__content .discount__info .info__wrapper-content h4 {
  color: var(--secondary-color);
  line-height: 1.05;
  font-size: 48px;
  font-weight: 500;
  max-width: 560px;
}
body main section.discount .discount__container .discount__content .discount__info .info__wrapper-content p {
  margin-top: 37px;
  margin-bottom: 46px;
  max-width: 410px;
  color: var(--text-color-secondary);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}
@media (min-width: 1440px) {
  body main section.discount .discount__container .discount__content {
    justify-content: space-between;
  }
}
@media (max-width: 1100px) {
  body main section.services .services__container .services__content .wrap__content-blocks {
    flex-direction: column;
  }
  body main section.services .services__container .services__content .wrap__content-blocks .content-block__picture {
    flex: 0 1 auto;
  }
  body main section.services .services__container .services__content .wrap__content-blocks .content-block__list {
    margin-top: 50px;
    justify-content: center;
  }
  body main section.services-from .services-form__container .services__form .form__title {
    text-align: center;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-inputs {
    align-self: center;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  body .header {
    position: relative;
    z-index: 5;
  }
  body .header .header__container {
    justify-content: space-between;
  }
  body .header .header__container nav.nav {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.93);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.3s;
  }
  body .header .header__container nav.nav.active {
    left: 0;
  }
  body .header .header__container nav.nav .wrap-navigation {
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: var(--header-bg);
    border-right: 1px solid gold;
    justify-content: start;
    align-items: start;
    padding-top: 10vh;
    overflow-y: auto;
  }
  body .header .header__container nav.nav .wrap-navigation .mobile__logo {
    display: block;
    margin: 0 auto;
  }
  body .header .header__container nav.nav .wrap-navigation ul.header__menu {
    flex-direction: column;
    text-align: center;
    gap: 0;
    margin: 0 auto;
  }
  body .header .header__container nav.nav .wrap-navigation ul.header__menu .menu__item .menu__link {
    display: inline-block;
    font-size: clamp(1.438rem, 1.333rem + 0.52vw, 1.75rem);
    font-weight: 500;
    padding: 20px 0;
  }
  body .header .header__container nav.nav .wrap-navigation .header__socials {
    margin: 0 auto;
  }
  body .header .header__container nav.nav .wrap-navigation .header__language {
    margin: 0 auto;
    padding: 20px 0;
  }
  body .header .header__container .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  body .header .header__container .menu__icon span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: calc(50% - 1px);
    transform: translateY(-2px);
    transition: all 0.2s;
  }
  body .header .header__container .menu__icon span:first-child {
    top: 0;
  }
  body .header .header__container .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  body .header .header__container .menu__icon.active span {
    transform: scale(0);
  }
  body .header .header__container .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  body .header .header__container .menu__icon.active span:last-child {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  body main section.about-us .about-us__container .about-us__wrap-content {
    flex-direction: column-reverse;
    margin-bottom: clamp(2.5rem, 0.714rem + 8.93vw, 6.25rem);
  }
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__info {
    width: 100%;
  }
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__info p {
    margin-bottom: 30px;
    text-align: center;
  }
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__workers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: static;
    margin-bottom: clamp(1.875rem, 0.982rem + 4.46vw, 3.75rem);
  }
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__workers img {
    position: static;
  }
  body main section.advantages .advantages__container .advantages__content {
    flex-direction: column;
    align-items: center;
  }
  body main section.discount img {
    height: clamp(37.5rem, 27.679rem + 49.11vw, 58.125rem);
  }
  body main section.discount .discount__container .discount__title {
    text-align: center;
    font-size: clamp(3.125rem, 1.488rem + 8.18vw, 6.563rem);
  }
  body main section.discount .discount__container .discount__content {
    flex-direction: column;
    align-items: center;
  }
  body main section.discount .discount__container .discount__content .discount__info {
    text-align: center;
  }
  body main section.discount .discount__container .discount__content .discount__info .info__wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main section.discount .discount__container .discount__content .discount__info .info__wrapper-content h4 {
    font-size: clamp(1.75rem, 1.155rem + 2.98vw, 3rem);
  }
  body main section.discount .discount__container .discount__content .discount__info .info__wrapper-content p {
    font-size: clamp(1.125rem, 0.946rem + 0.89vw, 1.5rem);
  }
}
@media (max-width: 1280px) and (min-width: 992px) {
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__workers img {
    top: calc(27px + 123 * (1280px - 100vw) / 288);
  }
}
@media (min-width: 992px) {
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__workers img {
    max-width: 700px;
  }
}
@media (max-width: 1100px) and (min-width: 992px) {
  body main section.about-us {
    padding-bottom: 150px;
  }
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__info p {
    padding-right: 45px;
  }
}
@media (max-width: 768px) {
  body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper .swiper-slide.hero__slide img {
    height: 60vh;
  }
  body main section.hero .hero__board {
    width: 75%;
    padding: 20px;
  }
  body main section.about-us .about-us__deco-square {
    display: none;
  }
  body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card {
    text-align: center;
  }
}
@media (max-width: 768px) and (max-height: 600px) {
  body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper .swiper-slide.hero__slide img {
    height: 100vh;
  }
}
@media (max-width: 640px) {
  body main .caption .caption__title::before, body main .caption .caption__title::after {
    content: "";
    display: none;
  }
  body main section.advantages .advantages__decor-square {
    display: none;
  }
}
@media (max-width: 565px) {
  body main section.about-us .about-us__container .about-us__wrap-content .about-us__info .cta-button {
    display: block;
    text-align: center;
  }
  body main section.services .services__container .services__content .wrap__content-blocks .content-block__list ul.list {
    padding-right: 20px;
    padding-left: 20px;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-inputs {
    flex-direction: column;
    width: 100%;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-inputs .wrap-input input {
    width: 100%;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns {
    flex-direction: column;
  }
  body main section.services-from .services-form__container .services__form .form__wrapper form .wrap-btns button {
    font-size: 15px;
  }
  body main section.advantages .advantages__container .advantages__content .wrap-content__items {
    flex-direction: column;
    text-align: center;
  }
  body main section.advantages .advantages__container .advantages__content .wrap-content__items:nth-child(2) {
    gap: 30px;
  }
  body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item .numbers {
    left: 50%;
    transform: translateX(-50%);
  }
  body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item p {
    max-width: 100%;
  }
  body main section.advantages .advantages__container .advantages__content .wrap-content__items .content__item p.three {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  body main section.reviews .reviews__container .caption {
    text-align: center;
  }
  body main section.reviews .reviews__container .reviews__wrap-cards .reviews__card {
    width: auto;
  }
  body main section.reviews .reviews__container .accordion-btn svg {
    display: none;
  }
}
[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}/*# sourceMappingURL=main.css.map */