@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* img {
  max-width: 100%;
}

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Oswald", sans-serif;
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --accent-color: #000000;
  --text-color-primary: var(--primary-color);
  --text-color-secondary: #e6e6e6;
  --bg-decor-lines: #b0b0b0;
  --bg-site: #f8f8f8;
  --bg-blur-glass-effect: rgba(29, 29, 31, 0.45) ;
  --header-bg: var(--primary-color);
  --header-color: var(--secondary-color);
  --header-menu-link: var(--secondary-color)
  // --bg-navigation: #fff;
  --caption-color-light: var(--secondary-color);
  --caption-color-dark: var(--primary-color);
  --caption-font: var(--font-secondary);
  --caption-decor: var(--bg-decor-lines);
  --cta-btn-bg-light: var(--bg-site);
  --cta-btn-bg-dark: var(--accent-color);
  --cta-btn-color-dark: var(--accent-color);
  --cta-btn-color-light: var(--secondary-color);
  --cta-btn-border-dark: 1px solid var(--primary-color);
  --cta-btn-border-light: 1px solid var(--secondary-color);
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: clamp(1.875rem, 1.685rem + 0.95vw, 2.375rem);
  letter-spacing: 6.08px;
  font-family: var(--font-secondary);
  font-weight: 500;
}

.caption {
  display: flex;
  justify-content: center;
  margin-top: clamp(1.875rem, -0.196rem + 10.36vw, 7.313rem);
}
.caption .caption__title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 clamp(0.938rem, 0.342rem + 2.98vw, 2.5rem);
}
.caption .caption__title::before, .caption .caption__title::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1px;
  width: clamp(3.125rem, 0.744rem + 11.9vw, 9.375rem);
  background-color: var(--bg-decor-lines);
}
.caption .caption__title::before {
  left: calc(-1 * clamp(3.125rem, 0.744rem + 11.9vw, 9.375rem));
}
.caption .caption__title::after {
  right: calc(-1 * clamp(3.125rem, 0.744rem + 11.9vw, 9.375rem));
}

.wrap-btn {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.cta-button {
  display: inline-block;
  font-size: 18px;
}

.cta-button-dark {
  padding: 15px 36px;
  font-weight: 500;
  line-height: 1.06;
  background-color: var(--cta-btn-bg-dark);
  color: var(--cta-btn-color-light);
  transition: all 0.3s;
  border: var(--cta-btn-border-dark);
}
.cta-button-dark:hover {
  background-color: var(--cta-btn-bg-light);
  color: var(--cta-btn-color-dark);
  border: var(--cta-btn-border-light);
}

.cta-button-light {
  padding: 10px 36px;
  font-weight: 400;
  background-color: var(--cta-btn-bg-light);
  color: var(--cta-btn-color-dark);
  border: var(--cta-btn-border-dark);
  line-height: 2;
  letter-spacing: 0.81px;
  transition: all 0.3s;
}
.cta-button-light:hover {
  background-color: var(--cta-btn-bg-dark);
  color: var(--cta-btn-color-light);
  border: var(--cta-btn-border-light);
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-site);
}
body.lock {
  overflow: hidden;
}
body .header {
  background-color: var(--header-bg);
  padding: 17px 0;
  color: var(--header-color);
}
body .header .header__container {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -24.583rem + 41.67vw, 8.75rem);
}
body .header .header__container .header__logo {
  flex: 0 1 60px;
  aspect-ratio: 59/65;
}
body .header .header__container nav.nav {
  flex-grow: 1;
}
body .header .header__container nav.nav .wrap-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
body .header .header__container nav.nav .wrap-navigation .mobile__logo {
  display: none;
}
body .header .header__container nav.nav .wrap-navigation ul.header__menu {
  display: flex;
  gap: clamp(0.938rem, 0.295rem + 3.21vw, 2.625rem);
  text-transform: capitalize;
}
body .header .header__container nav.nav .wrap-navigation ul.header__menu .menu__item .menu__link {
  font-weight: 400;
  color: var(--header-menu-link);
}
body .header .header__container nav.nav .wrap-navigation .header__socials {
  display: flex;
  gap: 15px;
}
body .header .header__container nav.nav .wrap-navigation .header__socials .socials__item svg {
  fill: var(--header-color);
}
body .header .header__container nav.nav .wrap-navigation .header__language {
  font-weight: 500;
}
body .header .header__container nav.nav .wrap-navigation .header__language span:nth-child(2) {
  margin-right: 12px;
  margin-left: 12px;
}
body .header .header__container .menu__icon {
  display: none;
}
body main section.hero {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow: clip;
}
body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper {
  display: inline-flex;
}
body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper .swiper-slide.hero__slide img {
  width: 100%;
  aspect-ratio: 1280/620;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.hero .hero__board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: var(--bg-blur-glass-effect);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59.375%;
  aspect-ratio: 760/410;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
body main section.hero .hero__board h1.board__title {
  font-size: clamp(1.563rem, -0.649rem + 4.72vw, 3.125rem);
  color: var(--secondary-color);
  font-weight: 600;
}
body main section.hero .hero__board h3.board__sub-title {
  font-size: clamp(0.875rem, 0.344rem + 1.13vw, 1.25rem);
  color: var(--secondary-color);
  font-weight: 600;
  letter-spacing: 4px;
}
body main section.hero .hero__board p {
  margin-top: clamp(0.938rem, 0.625rem + 1.56vw, 1.875rem);
  margin-bottom: clamp(1.25rem, 0.771rem + 2.4vw, 2.688rem);
  max-width: 360px;
  text-align: center;
  color: var(--text-color-secondary);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.188rem + 1.17vw, 1.125rem);
  letter-spacing: 1.35px;
  line-height: 1.06;
}
body main section.hero .hero__board .cta-button-dark {
  font-size: clamp(0.688rem, 0.542rem + 0.73vw, 1.125rem);
}

@media (max-width: 992px) {
  body .header {
    position: relative;
    z-index: 5;
  }
  body .header .header__container {
    justify-content: space-between;
  }
  body .header .header__container nav.nav {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.93);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.3s;
  }
  body .header .header__container nav.nav.active {
    left: 0;
  }
  body .header .header__container nav.nav .wrap-navigation {
    flex-direction: column;
    height: 100%;
    width: 70%;
    background-color: var(--header-bg);
    border-right: 1px solid gold;
    justify-content: start;
    align-items: start;
    padding-top: 10vh;
    overflow-y: auto;
  }
  body .header .header__container nav.nav .wrap-navigation .mobile__logo {
    display: block;
    margin: 0 auto;
  }
  body .header .header__container nav.nav .wrap-navigation ul.header__menu {
    flex-direction: column;
    text-align: center;
    gap: 0;
    margin: 0 auto;
  }
  body .header .header__container nav.nav .wrap-navigation ul.header__menu .menu__item .menu__link {
    display: inline-block;
    font-size: clamp(1.438rem, 1.333rem + 0.52vw, 1.75rem);
    font-weight: 500;
    padding: 20px 0;
  }
  body .header .header__container nav.nav .wrap-navigation .header__socials {
    margin: 0 auto;
  }
  body .header .header__container nav.nav .wrap-navigation .header__language {
    margin: 0 auto;
    padding: 20px 0;
  }
  body .header .header__container .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  body .header .header__container .menu__icon span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: calc(50% - 1px);
    transform: translateY(-2px);
    transition: all 0.2s;
  }
  body .header .header__container .menu__icon span:first-child {
    top: 0;
  }
  body .header .header__container .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  body .header .header__container .menu__icon.active span {
    transform: scale(0);
  }
  body .header .header__container .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  body .header .header__container .menu__icon.active span:last-child {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
}
@media (max-width: 768px) {
  body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper .swiper-slide.hero__slide img {
    height: 60vh;
  }
  body main section.hero .hero__board {
    width: 75%;
    padding: 20px;
  }
}
@media (max-width: 768px) and (max-height: 600px) {
  body main section.hero .swiper.hero__slider .swiper-wrapper.hero-slide__wrapper .swiper-slide.hero__slide img {
    height: 100vh;
  }
}
[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}/*# sourceMappingURL=main.css.map */