body {
  //   background-color: palegoldenrod; // гарний тілесний колір
  font-family: var(--font-primary);
  background-color: var(--bg-site);

  &.lock {
    overflow: hidden;
  }

  .header {
    background-color: var(--header-bg);
    padding: clamp(0.5rem, 0.313rem + 0.94vw, 1.063rem) 0; // 17px 0
    color: var(--header-color);

    .header__container {
      display: flex;
      align-items: center;
      gap: clamp(1.25rem, -24.583rem + 41.67vw, 8.75rem);

      .header__logo {
        width: calc(60 * 100% / 1280);
        min-width: 30px;
        aspect-ratio: 59/65;
      }

      nav.nav {
        flex-grow: 1;

        .wrap-navigation {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 15px;

          .mobile__logo {
            display: none;
          }

          ul.header__menu {
            display: flex;
            gap: clamp(0.938rem, 0.295rem + 3.21vw, 2.625rem); // 42px
            text-transform: capitalize;

            .menu__item {
              cursor: pointer;

              .menu__link {
                font-weight: 400;
                color: var(--header-menu-link);
              }
            }
          }

          .header__socials {
            display: flex;
            gap: 15px;

            .socials__item {
              svg {
                fill: var(--header-color);
              }
            }
          }

          .header__language {
            font-weight: 500;

            span:nth-child(2) {
              margin-right: 12px;
              margin-left: 12px;
            }
          }
        }
      }

      .menu__icon {
        display: none;
      }
    }
  }

  main {
    section.hero {
      position: relative;
      margin: 0 auto;
      overflow: clip;

      .swiper.hero__slider {
        .swiper-wrapper.hero-slide__wrapper {
          display: inline-flex;

          .swiper-slide.hero__slide {
            img {
              width: 100%;
              aspect-ratio: 1280/620;

              display: block;
              object-fit: cover;
            }
          }
        }
      }

      .hero__board {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        background-color: var(--bg-blur-glass-effect);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(760 * 100% / 1280);
        aspect-ratio: 760/410;
        backdrop-filter: blur(15px);

        h1.board__title {
          font-size: clamp(1.563rem, -0.649rem + 4.72vw, 3.125rem); // 50px
          color: var(--secondary-color);
          font-weight: 600;
        }

        h3.board__sub-title {
          font-size: clamp(0.875rem, 0.344rem + 1.13vw, 1.25rem); // 20px
          color: var(--secondary-color);
          font-weight: 600;
          letter-spacing: calc(20px * 20 / 100);
        }

        p {
          margin-top: clamp(0.938rem, 0.625rem + 1.56vw, 1.875rem); // 30px
          margin-bottom: clamp(1.25rem, 0.771rem + 2.4vw, 2.688rem); // 43px
          max-width: 360px;
          text-align: center;
          color: var(--text-color-secondary);
          font-weight: 400;
          font-size: clamp(0.75rem, 0.188rem + 1.17vw, 1.125rem); // 18px
          letter-spacing: calc(18px * 7.5 / 100);
          line-height: 1.06;
        }

        .cta-button-dark {
          font-size: clamp(0.688rem, 0.542rem + 0.73vw, 1.125rem); // 18px
        }
      }
    }

    section.about-us {
      position: relative;
      padding-bottom: 110px;

      .about-us__container {
        min-height: 913px;

        .caption {
          margin-bottom: clamp(1.875rem, 1.042rem + 4.17vw, 4.375rem); // 70px
          color: var(--caption-color-dark);

          .about-us__title {
          }
        }

        .about-us__wrap-content {
          display: flex;

          .about-us__info {
            width: 50%;

            p {
              font-size: 18px;
              font-weight: 400;
              color: var(--text-color-primary);
              line-height: 2;
              margin-bottom: 66px;
            }

            .cta-button {
            }
          }

          .about-us__workers {
            width: 50%;
            position: relative;

            img {
              position: absolute;
              top: 27px;
              right: 10px;
              aspect-ratio: 700/655;
            }
          }
        }
      }

      .about-us__deco-square {
        width: clamp(3.75rem, -1.667rem + 27.08vw, 20rem); // 320px
        aspect-ratio: 320/244;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
      .about-us__deco-arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        z-index: -1;
      }
    }

    section.services {
      background-color: var(--primary-color);

      .services__container {
        .services__content {
          position: relative;

          .caption {
            margin-bottom: clamp(1.875rem, 0.979rem + 4.48vw, 4.563rem);

            .caption__title {
              color: var(--caption-color-light);
            }
          }

          .wrap__content-blocks {
            padding-bottom: clamp(1.875rem, 1.25rem + 3.13vw, 3.75rem); // 60px
            display: flex;

            .content-block__picture {
              flex: 0 1 642px;
              aspect-ratio: 642/427;

              img {
              }
            }

            .content-block__list {
              flex-grow: 1;
              display: flex;
              justify-content: end;

              ul.list {
                max-width: 437px;
                font-weight: 400;
                font-size: 18px;
                color: var(--list-items-color);

                li {
                  list-style-type: disc;
                  padding: 20px 0;

                  &::marker {
                    font-size: 20px;
                  }

                  &:nth-child(even) {
                    &::marker {
                      color: var(--bg-decor);
                    }
                  }

                  &:nth-child(odd) {
                    &::marker {
                      color: var(--accent-color);
                    }
                  }

                  .item {
                    margin-left: 18px;
                  }
                }
              }
            }
          }

          .decor-square {
            position: absolute;
            right: -11px;
            bottom: 81px;
            width: clamp(3.75rem, 2.75rem + 5vw, 6.75rem); // 108
            aspect-ratio: 108/105;
            box-shadow: 0 0 15px 0 rgba(197, 197, 197, 0.25);
          }
        }
      }
    }

    section.services-from {
      background-color: var(--accent-color);

      .services-form__container {
        .services__form {
          padding: clamp(1.875rem, 1.146rem + 3.65vw, 4.063rem) 0
            clamp(1.875rem, 1.042rem + 4.17vw, 4.375rem); //65px 0 70px
          color: var(--form-text-color);

          .form__title {
            margin-bottom: 40px;

            h4 {
              font-size: 24px;
              font-weight: 500;
              margin-bottom: 20px;

              span {
                color: var(--error-color);
              }
            }
            p {
            }
          }

          .form__wrapper {
            form {
              display: flex;
              gap: clamp(0.875rem, -18.3rem + 26vw, 2.5rem); // 40px

              .wrap-inputs {
                display: flex;
                gap: clamp(0.875rem, -18.3rem + 26vw, 2.5rem); // 40px
                align-self: end;

                .wrap-input {
                  border-bottom: 3px solid var(--input-border-color);

                  input {
                    border: none;
                    height: 40px;
                    width: 260px;
                    background-color: var(--input-bg);
                    padding-bottom: 10px;
                    padding-left: 2px;
                  }
                }
              }

              .wrap-btns {
                display: flex;
                gap: clamp(0.875rem, -18.3rem + 26vw, 2.5rem); // 40px

                button,
                a {
                  font-size: 16px;
                  font-family: var(--font-primary);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 10px;

                  &:last-child {
                    font-weight: 300;

                    svg {
                      fill: var(--get-btn-color);
                    }

                    color: var(--get-btn-color);
                    background-color: var(--bg-get-btn);
                  }
                }
              }
            }
          }
        }
      }
    }

    section.advantages {
      position: relative;
      padding-bottom: clamp(1.875rem, 0.104rem + 8.85vw, 7.188rem); // 115px

      .advantages__decor-square {
        position: absolute;
        left: 0;
        top: 93px;
        width: clamp(3.75rem, 2.833rem + 4.58vw, 6.5rem); //104px
        aspect-ratio: 104/43;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
      }

      .advantages__container {
        .caption {
          margin-bottom: clamp(1.875rem, 1.25rem + 3.13vw, 3.75rem); // 60px
          color: var(--caption-color-dark);
        }

        .advantages__content {
          display: flex;
          gap: 30px;

          .wrap-content__items {
            display: flex;
            gap: 20px;

            &:nth-child(2) {
              gap: 70px;
            }

            .content__item {
              position: relative;

              .numbers {
                position: absolute;
                top: 0;
                left: 5px;
              }

              h5 {
                margin-bottom: 30px;
                padding-top: 20px;
              }

              p {
                font-size: 18px;
                line-height: 1.3;
                font-weight: 400;
                max-width: 270px;

                &.three {
                  max-width: 233px;
                }
              }
            }
          }
        }
      }
    }

    section.reviews {
      background-color: var(--primary-color);
      padding-bottom: clamp(1.875rem, -0.083rem + 9.79vw, 7.75rem); // 124px

      .reviews__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .caption {
          color: var(--caption-color-light);
          padding-bottom: clamp(1.875rem, 1.042rem + 4.17vw, 4.375rem); // 70px
        }

        .reviews__wrap-cards {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: clamp(1.25rem, -9.808rem + 15.38vw, 2.5rem); // 40px
          margin-bottom: 44px;

          .reviews__card {
            width: 360px;
            background-color: var(--secondary-color);
            border-radius: 20px;
            padding: 30px 10px 12px 30px;
            display: flex;
            flex-direction: column;

            .card__user-info {
              display: flex;
              align-items: center;
              gap: 18px;

              .wrap-user-photo {
                img {
                }
              }

              .username {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.1;
                color: var(--accent-color);
              }
            }

            p.card__text {
              font-size: 16px;

              &:first-child {
                max-width: 268px;
              }

              max-width: 321px;
              font-weight: 400;
              line-height: 1.5;
              color: var(--primary-color);
              margin-top: 24px;
            }

            .card__social {
              flex: 1;
              display: flex;
              justify-content: end;
              align-items: end;

              svg {
              }
            }
          }
        }
        .accordion-btn {
          display: inline-flex;
          font-size: 18px;
          font-weight: 500;
          color: var(--secondary-color);
          position: relative;
          padding: 0 20px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          svg {
            position: absolute;
            left: -76px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .cta-button {
          margin-top: 40px;
          display: inline-flex;
        }
      }
    }

    section.clients {
      padding-top: clamp(1.875rem, 9.38vw, 7.5rem);
      padding-bottom: clamp(1.875rem, 9.38vw, 7.5rem);
      background-image: url("../../../img/clients/clients.svg");
      background-size: cover;
      background-repeat: no-repeat;

      .clients__container {
        .wrap-client-images {
          display: flex;
          flex-wrap: wrap;
          gap: clamp(1.25rem, 0.833rem + 2.08vw, 2.5rem); // 40px
          justify-content: center;

          .wrap-clients-img {
            flex: 0 1 360px;
            aspect-ratio: 360/305;

            img {
              max-width: none;
              width: 100%;
            }
          }
        }
      }
    }

    section.discount {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        height: 733px;
        object-fit: cover;
      }

      .discount__mask {
        position: absolute;
        inset: 0;
        background-color: rgba(3, 3, 3, 0.75);
      }

      .discount__container {
        position: absolute;
        inset: 0; // дууже  допомогло виставити все по обмежуючому контейнеру

        padding-top: clamp(1.875rem, 9.38vw, 7.5rem); // 120px
        padding-bottom: clamp(1.875rem, 0.417rem + 7.29vw, 6.25rem); // 100px

        .discount__title {
          font-size: 105px;
          font-weight: 700;
          color: #d6d6d6; // це піздєц як важливо, має бути саме колір #d6d6d6
          mix-blend-mode: color-dodge;
          margin-bottom: clamp(1.875rem, 0.417rem + 7.29vw, 6.25rem);
        }

        .discount__content {
          display: flex;
          gap: clamp(1.875rem, -21.806rem + 38.19vw, 8.75rem); // 140px
          flex-wrap: wrap;

          .discount_percent {
            span {
              font-size: 100px;
              line-height: 1.3;
              font-weight: 700;
              color: var(--percent-color);
            }
          }
          .discount__info {
            .info__wrapper-content {
              h4 {
                color: var(--secondary-color);
                line-height: 1.05;
                font-size: 48px;
                font-weight: 500;
                max-width: 560px;
              }
              p {
                margin-top: 37px;
                margin-bottom: 46px;
                max-width: 410px;
                color: var(--text-color-secondary);
                font-size: 24px;
                font-weight: 500;
                line-height: 1.33;
              }
              .cta-button {
              }
            }
          }
        }
      }
    }
  }

  footer.footer {
    background-color: var(--footer-bg);
    color: var(--footer-color-primary);
    font-size: var(--footer-fz);
    font-weight: 500;

    .footer__container {
      padding-top: clamp(1.875rem, 0.625rem + 6.25vw, 5.625rem);
      padding-bottom: clamp(1.875rem, 0.625rem + 6.25vw, 5.625rem);
      display: flex;
      flex-wrap: wrap;
      gap: clamp(1.25rem, -6.042rem + 14.58vw, 5.625rem); // 90px
      align-items: center;

      .footer__left-box {
        display: flex;
        gap: clamp(1.25rem, -17.5rem + 37.5vw, 12.5rem); // 200px
        align-items: center;

        .footer__logo {
          img {
          }
        }

        .footer__address {
          .address {
            margin-bottom: 25px;
          }

          .google__link {
            color: var(--footer-color-secondary);
            font-size: 16px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .footer__right-box {
        display: flex;
        gap: clamp(1.25rem, -8.125rem + 18.75vw, 6.875rem); // 110px
        align-items: center;

        .footer__timetable {
          line-height: 1.77;

          span {
            width: 77px;
            color: var(--footer-color-secondary);
            margin-right: 11px;

            &:first-child {
              margin-right: 6px;
            }
          }
        }

        .footer__info {
          .footer-info__tel {
            color: var(--footer-color-primary);
          }

          .footer-info__email {
            margin-top: 11px;
            margin-bottom: 17px;
            a {
              color: var(--footer-color-primary);
            }
          }

          .footer-info__socials {
            display: inline-flex;
            gap: 10px;

            a {
              img {
              }
            }
          }
        }
      }
    }
  }
}
