@media (min-width: 1440px) {
  body {
    main {
      section.discount {
        img {
        }

        .discount__mask {
        }

        .discount__container {
          .discount__title {
          }

          .discount__content {
            justify-content: space-between;

            .discount_percent {
              span {
              }
            }
            .discount__info {
              .info__wrapper-content {
                h4 {
                }
                p {
                }
                .cta-button {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  body {
    main {
      section.services {
        .services__container {
          .services__content {
            .caption {
              .caption__title {
              }
            }

            .wrap__content-blocks {
              flex-direction: column;

              .content-block__picture {
                flex: 0 1 auto;

                img {
                }
              }

              .content-block__list {
                margin-top: 50px;
                justify-content: center;
                // background-color: aqua;

                ul.list {
                  li {
                    &::marker {
                    }

                    &:nth-child(even) {
                      &::marker {
                      }
                    }

                    &:nth-child(odd) {
                      &::marker {
                      }
                    }

                    .item {
                    }
                  }
                }
              }
            }

            .decor-square {
            }
          }
        }
      }

      section.services-from {
        .services-form__container {
          .services__form {
            .form__title {
              text-align: center;

              h4 {
                span {
                }
              }
              p {
              }
            }

            .form__wrapper {
              form {
                flex-direction: column;
                align-items: center;
                gap: 40px;

                .wrap-inputs {
                  align-self: center;

                  .wrap-input {
                    input {
                    }
                  }
                }

                .wrap-btns {
                  width: 100%;
                  justify-content: space-between;

                  button,
                  a {
                    &:last-child {
                      svg {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  body {
    .header {
      position: relative;
      z-index: 5;

      .header__container {
        justify-content: space-between;

        .header__logo {
        }

        nav.nav {
          width: 100%;
          height: 100lvh;
          background-color: rgba(1, 1, 1, 0.93);
          position: absolute;
          top: 0;
          left: -100%;
          transition: all 0.3s;

          &.active {
            left: 0;
          }

          .wrap-navigation {
            flex-direction: column;
            height: 100%;
            width: 80%;
            background-color: var(--header-bg);
            border-right: 1px solid gold;
            justify-content: start;
            align-items: start;
            padding-top: 10lvh;
            overflow-y: auto;

            .mobile__logo {
              display: block;
              margin: 0 auto; // памятай що тут не треба рівняти по центру через флекс!!!
            }
            ul.header__menu {
              flex-direction: column;
              text-align: center;
              gap: 0;
              margin: 0 auto; // памятай що тут не треба рівняти по центру через флекс!!!
              width: 100%;

              .menu__item {
                .menu__link {
                  display: inline-block;
                  font-size: clamp(1.438rem, 1.333rem + 0.52vw, 1.75rem);
                  font-weight: 500;
                  padding: 20px 0;
                  width: 100%;
                }
              }
            }

            .header__socials {
              margin: 0 auto; // памятай що тут не треба рівняти по центру через флекс!!!

              .socials__item {
                svg {
                }
              }
            }

            .header__language {
              margin: 0 auto; // памятай що тут не треба рівняти по центру через флекс!!!
              padding: 20px 0;

              span:nth-child(2) {
              }
            }
          }
        }

        .menu__icon {
          display: block;
          width: 30px;
          height: 18px;
          position: relative;
          z-index: 5;
          cursor: pointer;

          span {
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #fff;
            left: 0;
            top: calc(50% - 1px); // -1 бо висота лінії 2px
            transform: translateY(-2px);
            transition: all 0.2s;

            &:first-child {
              top: 0;
            }

            &:last-child {
              top: auto;
              bottom: 0;
            }
          }

          &.active {
            span {
              transform: scale(0);

              &:first-child {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
              }

              &:last-child {
                transform: rotate(45deg);
                top: calc(50% - 1px);
              }
            }
          }
        }
      }
    }

    main {
      section.hero {
        .swiper.hero__slider {
          .swiper-wrapper.hero-slide__wrapper {
            .swiper-slide.hero__slide {
              img {
              }
            }
          }
        }

        .hero__board {
          h1.board__title {
          }

          h3.board__sub-title {
          }

          p {
          }

          .cta-button-dark {
          }
        }
      }

      section.about-us {
        .about-us__container {
          .caption {
            .about-us__title {
            }
          }

          .about-us__wrap-content {
            flex-direction: column-reverse;
            margin-bottom: clamp(2.5rem, 0.714rem + 8.93vw, 6.25rem); // 100px

            .about-us__info {
              width: 100%;

              p {
                margin-bottom: 30px;
                text-align: center;
              }
              .cta-button {
              }
            }

            .about-us__workers {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              position: static;
              margin-bottom: clamp(1.875rem, 0.982rem + 4.46vw, 3.75rem); //60px

              img {
                position: static;
              }
            }
          }
        }
      }

      section.advantages {
        .advantages__decor-square {
        }

        .advantages__container {
          .caption {
          }

          .advantages__content {
            flex-direction: column;
            align-items: center;

            .wrap-content__items {
              &:nth-child(2) {
              }

              .content__item {
                .numbers {
                }

                h5 {
                }

                p {
                  &.three {
                  }
                }
              }
            }
          }
        }
      }

      section.discount {
        img {
          height: clamp(37.5rem, 27.679rem + 49.11vw, 58.125rem); // 930px
        }

        .discount__mask {
        }

        .discount__container {
          .discount__title {
            text-align: center;
            font-size: clamp(3.125rem, 1.488rem + 8.18vw, 6.563rem);
          }

          .discount__content {
            flex-direction: column;
            align-items: center;

            .discount_percent {
              span {
              }
            }
            .discount__info {
              text-align: center;

              .info__wrapper-content {
                display: flex;
                flex-direction: column;
                align-items: center;

                h4 {
                  font-size: clamp(1.75rem, 1.155rem + 2.98vw, 3rem);
                }
                p {
                  font-size: clamp(1.125rem, 0.946rem + 0.89vw, 1.5rem);
                }
                .cta-button {
                }
              }
            }
          }
        }
      }
    }

    footer.footer {
      .footer__container {
        gap: 30px;

        .footer__left-box {
          width: 100%;
          justify-content: space-around;
          flex-wrap: wrap;

          .footer__logo {
            width: 215px;

            img {
            }
          }

          .footer__address {
            .address {
              width: 215px;
            }

            .google__link {
              &:hover {
              }
            }
          }
        }

        .footer__right-box {
          width: 100%;
          justify-content: space-around;
          flex-wrap: wrap;

          .footer__timetable {
            width: 215px;

            span {
              &:first-child {
              }
            }
          }

          .footer__info {
            .footer-info__tel {
            }

            .footer-info__email {
            }

            .footer-info__socials {
              width: 215px;

              a {
                img {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) and (min-width: 992px) {
  body {
    main {
      section.about-us {
        .about-us__container {
          .caption {
            .about-us__title {
            }
          }

          .about-us__wrap-content {
            .about-us__info {
              p {
              }
              .cta-button {
              }
            }

            .about-us__workers {
              img {
                top: calc(
                  27px + (150 - 27) * ((1280px - 100vw) / (1280 - 992))
                ); // тут я збільшую top від 27px до 150px, коли екран зменшується, також не забуть поставити top: 27px на звичайному scss файлі
                // заптай у gpt
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    main {
      section.about-us {
        .about-us__container {
          .caption {
            .about-us__title {
            }
          }

          .about-us__wrap-content {
            .about-us__info {
              p {
              }
              .cta-button {
              }
            }

            .about-us__workers {
              img {
                max-width: 700px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) and (min-width: 992px) {
  body {
    main {
      section.about-us {
        padding-bottom: 150px;

        .about-us__container {
          .caption {
            .about-us__title {
            }
          }

          .about-us__wrap-content {
            .about-us__info {
              p {
                padding-right: 45px;
              }
              .cta-button {
              }
            }

            .about-us__workers {
              img {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    main {
      section.hero {
        .swiper.hero__slider {
          .swiper-wrapper.hero-slide__wrapper {
            .swiper-slide.hero__slide {
              img {
                height: 60lvh;
              }
            }
          }
        }

        .hero__board {
          width: 75%;
          padding: 20px;

          h1.board__title {
          }

          h3.board__sub-title {
          }

          p {
          }

          .cta-button-dark {
          }
        }
      }

      section.about-us {
        .about-us__container {
          .caption {
            .about-us__title {
            }
          }

          .about-us__wrap-content {
            .about-us__info {
              p {
              }
              .cta-button {
              }
            }

            .about-us__workers {
              img {
              }
            }
          }
        }

        .about-us__deco-square {
          display: none;
        }
      }

      section.reviews {
        .reviews__container {
          .caption {
          }

          .reviews__wrap-cards {
            .reviews__card {
              text-align: center;

              .card__user-info {
                .wrap-user-photo {
                  img {
                  }
                }

                .username {
                }
              }

              p.card__text {
                &:first-child {
                }
              }

              .card__social {
                svg {
                }
              }
            }
          }
          .accordion-btn {
            &:hover {
            }

            svg {
            }
          }

          .cta-button {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (max-height: 600px) {
  body {
    main {
      section.hero {
        .swiper.hero__slider {
          .swiper-wrapper.hero-slide__wrapper {
            .swiper-slide.hero__slide {
              img {
                height: 100lvh;
              }
            }
          }
        }

        .hero__board {
          h1.board__title {
          }

          h3.board__sub-title {
          }

          p {
          }

          .cta-button-dark {
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  body {
    main {
      .caption {
        .caption__title {
          &::before,
          &::after {
            content: "";
            display: none;
          }

          &::before {
          }

          &::after {
          }
        }
      }

      section.advantages {
        .advantages__decor-square {
          display: none;
        }

        .advantages__container {
          .caption {
          }

          .advantages__content {
            .wrap-content__items {
              &:nth-child(2) {
              }

              .content__item {
                .numbers {
                }

                h5 {
                }

                p {
                  &.three {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 565px) {
  body {
    main {
      section.about-us {
        .about-us__container {
          .caption {
            .about-us__title {
            }
          }

          .about-us__wrap-content {
            .about-us__info {
              p {
              }
              .cta-button {
                display: block;
                text-align: center;
              }
            }

            .about-us__workers {
              img {
              }
            }
          }
        }
      }

      section.services {
        .services__container {
          .services__content {
            .caption {
              .caption__title {
              }
            }

            .wrap__content-blocks {
              .content-block__picture {
                img {
                }
              }

              .content-block__list {
                ul.list {
                  padding-right: 20px;
                  padding-left: 20px;

                  li {
                    &::marker {
                    }

                    &:nth-child(even) {
                      &::marker {
                      }
                    }

                    &:nth-child(odd) {
                      &::marker {
                      }
                    }

                    .item {
                    }
                  }
                }
              }
            }

            .decor-square {
            }
          }
        }
      }

      section.services-from {
        .services-form__container {
          .services__form {
            .form__title {
              h4 {
                span {
                }
              }
              p {
              }
            }

            .form__wrapper {
              form {
                gap: 60px;

                .wrap-inputs {
                  gap: 40px;
                  flex-direction: column;
                  width: 100%;

                  .wrap-input {
                    input {
                      width: 100%;
                    }
                  }
                }

                .wrap-btns {
                  flex-direction: column;
                  gap: 20px;

                  button,
                  a {
                    font-size: 15px;

                    &:last-child {
                      svg {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      section.advantages {
        .advantages__decor-square {
        }

        .advantages__container {
          .caption {
          }

          .advantages__content {
            .wrap-content__items {
              flex-direction: column;
              text-align: center;

              &:nth-child(2) {
                gap: 30px;
              }

              .content__item {
                // width: 100%;

                .numbers {
                  left: 50%;
                  transform: translateX(-50%);
                }

                h5 {
                }

                p {
                  max-width: 100%;

                  &.three {
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  body {
    main {
      section.reviews {
        .reviews__container {
          .caption {
            text-align: center;
          }

          .reviews__wrap-cards {
            .reviews__card {
              width: auto;

              .card__user-info {
                .wrap-user-photo {
                  img {
                  }
                }

                .username {
                }
              }

              p.card__text {
                &:first-child {
                }
              }

              .card__social {
                svg {
                }
              }
            }
          }
          .accordion-btn {
            &:hover {
            }

            svg {
              display: none;
            }
          }

          .cta-button {
          }
        }
      }
    }

    footer.footer {
      .footer__container {
        .footer__left-box {
          text-align: center;

          .footer__logo {
            img {
            }
          }

          .footer__address {
            .address {
            }

            .google__link {
              &:hover {
              }
            }
          }
        }

        .footer__right-box {
          text-align: center;

          .footer__timetable {
            span {
              &:first-child {
              }
            }
          }

          .footer__info {
            .footer-info__tel {
            }

            .footer-info__email {
            }

            .footer-info__socials {
              justify-content: center;

              a {
                img {
                  width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}
