:root {
  // #### FONTS ####
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Oswald", sans-serif;

  // #### COLORS ####
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --accent-color: #000000;

  --text-color-primary: var(--primary-color);
  --text-color-secondary: #e6e6e6;
  
  // extra colors

  --bg-decor: #b0b0b0;
  --bg-site: #f8f8f8;
  --bg-blur-glass-effect: rgba(29, 29, 31, 0.45);
  
  --list-items-color: #dddddd;
  --form-text-color: #fefefe;
  --error-color: #f20000;
  --percent-color: rgba(255, 23, 23, 0.7);
  
  --bg-get-btn: #5f5c5c;
  --get-btn-color: var(--secondary-color);

  //////////////////

  // #### HEADER ####
  --header-bg: var(--primary-color);
  --header-color: var(--secondary-color);

  --header-menu-link: var(--secondary-color)

  //   --bg-navigation: #fff;
  //   --bg-footer: #fff;

  //   --text-color: #fff;

  //   --link-color: #fff;
  //   --bg-link: #fff;

  // #### CAPTION ####
  --caption-color-light: var(--secondary-color);
  --caption-color-dark: var(--primary-color);
  --caption-font: var(--font-secondary);
  --caption-decor: var(--bg-decor);

  // #### CTA BUTTONS ####
  --cta-btn-bg-light: var(--bg-site);
  --cta-btn-bg-dark: var(--accent-color);

  --cta-btn-color-dark: var(--accent-color);
  --cta-btn-color-light: var(--secondary-color);

  --cta-btn-border-dark: 1px solid var(--accent-color);
  --cta-btn-border-light: 1px solid var(--secondary-color);


  // #### INPUT ####

  --input-text-color: var(--secondary-color);
  --input-border-color: var(--secondary-color);
  --input-placeholder-color: var(--bg-decor);

  --input-bg: var(--accent-color);

  // #### FOOTER ####

  --footer-color-primary: var(--secondary-color);
  --footer-color-secondary: var(--bg-decor);
  --footer-bg: var(--accent-color);

  --footer-fz: 18px;


}
